{% extends 'wafer/base.html' %}
{% load i18n %}
{% block content %}
<h1>{% trans 'Account activation needed' %}</h1>
<p>
{% blocktrans %}
    Thank you for your interest in {{ WAFER_CONFERENCE_NAME }}.
    We have sent you an e-mail.
    Please follow the instructions in it to activate your account.
{% endblocktrans %}
</p>
{% endblock %}
